@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    padding-top: 200px;
    
}

html {
    font-size: 72.5%;
}

a {
    text-decoration: none;
}

.logo {
    height: 7 0px;
}



header {
    top: 0;
    width: 100%;
    position: fixed;
    transform: translateX(-50%);
    left: 50%;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-evenly;
    padding: 1rem 2rem;
    z-index: 1000;
    transition: all 0.3s;
    transition: all 0.3s;
    border-bottom: 1px solid rgb(221, 221, 221);
}

header.sticky {
    transition: all 0.3s;
    border-bottom: 4px solid #c8f088;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    font-size: 1.5rem;
    color: black;
    transition: all 0.3s;

}

nav ul li a:hover {
    color: blue;
}


section {

    justify-content: center;
    align-items: center;
    display: flex;

    height: 60vh;
    background-color: rgb(255, 255, 255);

}

form {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.200);
    background-color: #F8F8F8;
    padding: 50px ;
    width: 1300px;
    margin: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15pt;
}

form .description p {
    width: 60%;
    text-align: center;
    margin: 1rem;
}

form input,
button,
textarea {
    resize:none;
    width: 50vw;
    margin: 1rem 0;
    border: 1px solid rgba(0, 0, 0, 0.200);
}

input,
button,
textarea {
    border: 1px solid rgba(0, 0, 0, 0.200);
    border-radius: 5px;
    padding: 10px;
}

input:hover,
input:focus {
    outline: none;
    border-color: #7BAB2F;
}
textarea:hover,
textarea:focus {
    outline: none;
    border-color: #7BAB2F;
}
button {
    background-color: #7BAB2F;
    color: white;
}


/*** dark mode */

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    margin: 10px;
}


.toggle-switch .toggle-input {
    display: none;
}


.toggle-switch .toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 24px;
    background-color: #4CAF50;
    border-radius: 34px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.toggle-switch .toggle-label::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    background-color: #fff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}


.toggle-switch .toggle-input:checked+.toggle-label {
    background-color: #e7d10b;
}

.toggle-switch .toggle-input:checked+.toggle-label::before {
    transform: translateX(16px);
}


.toggle-switch.light .toggle-label {
    background-color: #BEBEBE;
}

.toggle-switch.light .toggle-input:checked+.toggle-label {
    background-color: #9B9B9B;
}

.toggle-switch.light .toggle-input:checked+.toggle-label::before {
    transform: translateX(6px);
}


.toggle-switch.dark .toggle-label {
    background-color: #4B4B4B;
}

.toggle-switch.dark .toggle-input:checked+.toggle-label {
    background-color: #717171;
}

.toggle-switch.dark .toggle-input:checked+.toggle-label::before {
    transform: translateX(16px);
}

/********/

.bars {
    cursor: pointer;
    display: none;
    font-size: 20pt;
}

footer {
    border-top: 3px solid #c8f088;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-footer {
    background-color: white;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar {

    width: 450px;
    display: flex;
    height: 70px;
    font-size: 12pt;
    align-items: center;
    justify-content: center;
}

.navbar a {
    letter-spacing: 0.5px;
    color: #080808;
    transition: all 0.3s;
    padding: 0 20px;
}


.navbar a:hover {
    color: #7BAB2F;
    transform: scale(1.1)
}


.media {
    width: 150px;
    justify-content: space-between;
    display: flex;
}

.media a {
    font-size: 15pt;
    color: rgba(0, 0, 0, 0.39);
    transition: all 0.3s;
}

#footer-img {
    position: relative;
    top: 56px;
    right: 39px;
    height: 350px;
}

.skilvul {
    flex-direction: column;
    color: rgba(0, 0, 0, 0.568);
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.skilvul a {
    transition: all 0.3s;
}

.skilvul a:hover {
    transform: scale(1.2);
}

.copyrights {
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
    letter-spacing: 0.5px;
    font-weight: 500;
    color: #5c5959;
    font-size: 10pt;

}

.media a:hover {
    color: #7BAB2F;
    transform: scale(1.2);

}

#footer-img {
    position: relative;
    top: 50px;
    right: 39px;
    height: 350px;
}

.footer-img {
    display: flex;
    justify-content: center;
}

@media (max-width:787px) {
    html {
        font-size: 55%;

    }
    form .description p {
        width: 80%;
        text-align: center;
        font-size: 10pt;
    }

    .logo {
        height: 50px;
    }

    #footer-img {
        height: 200px;
        margin-bottom: 22px;
        margin-left: 60px;
    }
    form{
        
        margin-bottom: 100px;
    }

    .footer-img img {}
}

@media (max-width:575px) {
    .description p,h2 {
        font-size: 10pt;
        width: 200px;
    }

    form .description p {
        width: 90%;
        text-align: center;
        margin: 1rem;
    }
    form{
        margin-top: 200px;
        margin-bottom: 300px;
    }

    .bars {
        display: block;
    }

    footer {
        align-items: center;
        padding: 50px;
    }

    .footer-img img {
        position: relative;

    }

    nav {
        position: fixed;
        top: -100 rem;
        left: 0;
        width: 100%;
        background-color: #4CAF50;
        opacity: 0;

    }

    nav ul {
        flex-flow: column;
        padding: 1rem 0;
    }

    nav ul li {
        margin: 1rem 0;
        width: 100%;
        text-align: center;

    }

    nav ul li a {
        font-size: 5rem;

    }

    .navbar {
        flex-direction: column;
        width: 30%;
        margin: 5rem;
        padding: 20px 0;
    }


}